@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto');
	src: url('font/Roboto-Light.ttf');
}

html, body{
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: #e9eced;
}

	#nav-left{
		width: 220px;
		height: 100%;
		background-color: #1a2530;
		float: left;
		position: fixed;
	}

		.navigation{
			width: 220px;
			height: auto;
			background-color: #1a2530;
			border-bottom-width: 2px;
			border-style: solid;
			border-color: rgba(255, 255, 255, 0.2);
			margin-bottom: 10px;
		}
		
			#ul-nav{
				width: 220px;
				height: auto;
				font-family: Roboto;
				font-size: 15pt;
				padding-top: 25px;
				padding-bottom: 25px;
				line-height: 40px;
			}

				.nav-title{
					width: 100%;
					height: 40px;

				}
					.link-nav{
						text-decoration: none;
						color: #e9eced;
					}

					#link-accueil{
						padding-left: 53px;
						padding-right: 70px;
						padding-bottom: 5px;
						padding-top: 8px;
					}

					#link-work{
						padding-left: 53px;
						padding-right: 64px;
						padding-bottom: 5px;
						padding-top: 8px;
					}

					#link-contact{
						padding-left: 53px;
						padding-right: 66px;
						padding-bottom: 5px;
						padding-top: 8px;	
					}

					.link-nav:hover{
						background-color: #2c3e50;
					}

						.icone-nav{
							display: inline-block;
							margin-right: 10px;
						}

		.socialNtework{
			width: 100%;
			height: auto;
			border-bottom-width: 2px;
			border-style: solid;
			border-color: rgba(255, 255, 255, 0.2);
		}

			.socialNet{
				width: 100%;
				height: 195px;
				margin-bottom: 10px;
				background-color: #2c3e50;
				font-family: Roboto;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				color: #e9eced;
			}

			.link-socialNetwork{
				text-decoration: none;
			}

			#linkedIn:hover{
				background-color: #1683bc;
			}

			#gitHub:hover{
				background-color: #201f1f;
			}

				.txt-social-network{
					padding-top: 75px;
					font-size: 40px;
				}

		.draWork{
			width: 100%;
			height: auto;
			/*background-color: red;*/
			text-align: center;
			padding-top: 20px;
		}

			.creationNavLeft{
				font-family: Roboto;
				font-size: 15px;
				font-weight: bold;
				letter-spacing: 5px;
				padding-bottom: 10px;
				color: #e9eced;
			}

			.diapo{
				width: 100%;
				height: 195px;
				background-color: pink;
			}

	.contener{
		width: auto;
		height: 100%;
		background-color: #e9eced;
		margin-left: 220px;

	}

		.main{
			width: 1100px;
			height: 2000px;
			/*background-color: red;*/
			margin: auto;
			position: relative;
		}

			.info-content{
				width: 660px;
				height: 260px;
				top: 50px;
				/*background-color: pink;*/
				margin: auto;
				position: relative;
				padding: 5px;
			}

				.img-info{
					position: relative;
					width: 260px;
					height: 100%;
					background-image: url(img/img-profilcv.jpg);
					float: left;
					/*background-color: yellow;*/
				}

				.info-txt{
					font-family: Roboto;
					text-align: justify;
					text-align: center;
				}

				#information{
					font-size: 50px;
					font-weight: bold;
					float: left;
					padding-top: 70px;
					padding-left: 40px;
				}

				#phone{
					font-size: 45px;
					float: left;
					padding-top: 5px;
					padding-left: 40px;
				}

			.formation-block{
				width: 100%;
				top: 70px;
				height: 300px;
				/*background-color: orange;*/
				position: relative;

			}

				.Fblock{
					width: 50%;
					height: 75px;
					background-color: pink;
					position: relative;
				}

				#right{
					left: 550px;
				}

					.title-formation{
						padding-top: 18px;
						font-family: Roboto;
						font-weight: bold;
						padding-left: 40px;
						padding-bottom: 5px;
						font-size: 20px;
					}

					.content-txt-formation{
						font-family: Roboto;
						font-weight: lighter;
						margin-left: 40px;
					}

			#dev{
				position: relative;
				width: 100%;
				height: 300px;
				background-color: #1a2530;
				top: 90px;
			}

				.title-txtDG{
					width: 60%;
					height: 60px;
					/*background-color: orange;*/
				}

					.title-txt{
						display: inline-block;
						font-family: Roboto;
						font-size: 40px;
						letter-spacing: 8px;
						color: #e9eced;
						padding-top: 10px;
						padding-left: 20px;
					}

					#competences{
						font-weight: bold;
					}

					#dev-title{
						font-weight: lighter;
					}

			#graphisme{
				position: relative;
				width: 100%;
				height: 300px;
				background-color: #1a2530;
				top: 110px;
			}

			.contactForm{
				width: 100%;
				height: 500px;
				/*background-color: orange;*/
				position: relative;
				top: 130px;
			}

				.form-horizontal{
					width: 70%;
					height: 535px;
					/*background-color: purple;*/
					position: relative;
					margin: auto;
					text-align: center;
				}

				fieldset{
					margin: auto;
				}

				legend{
					text-align: center;
					font-family: 'Roboto';
					font-weight:bold;
					font-size: 20px;
					margin-bottom: 10px;
					color: #1a2530;
					padding-top: 10px;
				}

					.input-xlarge{
						width: 550px;
						height: 30px;
						margin-bottom: 20px;
						border-radius: 1px;
						font-family: Roboto;
					}

					.buttonSub{
						width: 250px;
						height: 40px;
					}

				.error-inscription{
					width: 550px;
					height: 40px;
					/*background-color: red;*/
					margin-left: 110px;
					margin-top: 20px;
					}